.footer
    padding-bottom: 72px
    &__content
        display: flex
        justify-content: space-between
        align-items: center
    &__social
        ul
            display: flex
            li
                margin-right: 12px
                &:last-child
                    margin-right: 0
        .icon
            font-size: 37px
    &__nav
        ul
            display: flex
            color: #fff
            font-size: 18px
            li
                margin-right: 40px
                &:last-child
                    margin-right: 0