.header
    &__content
        position: relative
        display: block
        height: 146px
        padding: 62px 75px 0 100px
        +clr
        .menu_main
            display: inline-block
            position: absolute
            +vertical
        .logo
            margin-right: 125px
    

.nav_right
    display: block
    float: right
    +clr
    .account
        display: inline-block
        margin-right: 8px
        padding: 12px 28px
        color: #1d354e
        font-size: 16px
        font-family: $main_font
        font-weight: 600
        background-color: #fff
        border-radius: 17px


.language
    display: flex
    flex-direction: column
    float: right
    padding: 13px 24px
    color: #ffffff
    border-radius: 20px
    &_hidden
        display: none
    &:hover
        color: #1d354e
        background-color: #fff
        .language_hidden
            display: block
    a
        margin-bottom: 17px
        &:last-child
            margin-bottom: 0
    a:hover
        text-decoration: underline