.questions
    &__content
        position: relative
        padding: 80px 100px 125px
        background-color: #fff
        border-radius: 16px
        .box
            top: 89px
            left: -90px
        .section__title
            margin-bottom: 53px
            font-size: 72px
            line-height: 1
            span
                display: block
                font-weight: 200
    &__list
    &__item
        position: relative
        padding-left: 55px
        margin-bottom: 25px
        &:before
            content: "\203A"
            position: absolute
            top: 6px
            left: 2px
            width: 36px
            height: 36px
            font-size: 40px
            line-height: 30px
            border-radius: 50%
            background-color: #00bdca
            text-align: center
            color: #fff
            cursor: pointer
        &_text
            margin-bottom: 10px
            font-size: 30px
            line-height: 1.6
        &_subtext
            display: none
            font-size: 18px
            line-height: 2
            font-weight: 300