.roadmap
    padding: 176px 0 188px
    +md
        padding: 145px 0 8px
    +sm
        padding: 58px 0 226px
    &__container
        +md
            padding: 0 52px 0 59px
    &__content
        position: relative
        color: #fff
    &__title
        font-size: 72px
        letter-spacing: 3px
        margin-bottom: 153px
        +md
            font-size: 54px
            margin-bottom: 115px
        +sm
            letter-spacing: 1px
            margin-bottom: 125px
        span
            font-size: 48px
            line-height: 1.1
            font-weight: 600
            letter-spacing: 2px
            +md
                font-size: 36px
            +sm
                font-size: 30px
    &__list
        +clr
    &__item
        min-height: 280px
        +md
            min-height: 230px
        +sm
            min-height: 125px
            float: right
            width: calc(0.48*(294px + 100vw))
            &:nth-child(1)
                // background: url(../img/roadmap/roadmap-bg_mobile-1.png)
                .map-item__bg
                    top: -177px
            &:nth-child(2)
                .map-item__bg
                    bottom: -103px
            &:nth-child(3)
                float: left
                .map-item__content
                    padding: 0 65px 0 0
                div.map-item__glob
                    left: auto
                    right: 0
                    transform: scaleX(-1)
                    .glob__text
                        transform: translate(-50%,-50%) scaleX(-1)
                .map-item__bg
                    top: -112px
                    right: 24px
                    left: auto
            &:nth-child(4)
                float: left
                .map-item__content
                    padding: 0 65px 0 0
                div.map-item__glob
                    left: auto
                    right: 0
                    transform: scaleX(-1)
                    .glob__text
                        transform: translate(-50%,-50%) scaleX(-1)
                .map-item__bg
                    bottom: -82px
                    right: 24px
                    left: auto
            &:nth-child(5)
                .map-item__bg
                    top: -105px
            &:nth-child(6)
                .map-item__bg
                    top: 50px
        &:not(:last-child)
            margin-bottom: 94px
            +md
                margin-bottom: 51px
            +sm
                margin-bottom: 34px
                &:nth-child(2)
                    margin-bottom: 200px
                &:nth-child(3)
                    margin-bottom: 33px
                &:nth-child(4)
                    margin-bottom: 192px
        &:nth-child(even)
            margin-right: 54%
            +sm
                margin-right: 0
            .map-item__glob
                left: auto
                right: -75px
                transform: scaleX(-1)
                filter: FlipH
                +md
                    right: -56px
                +sm
                    transform: translate(0)
                    top: 0
                    left: 0
                .glob__text
                    transform: translate(-50%,-50%) scaleX(-1)
                    filter: FlipH
                    +sm
                        transform: translate(-50%,-50%)

        &:nth-child(odd)
            margin-left: 54%
            +md
                margin-left: 53.5%
            +sm
                margin-left: 0
    &__bg
        position: absolute
        top: 51px
        left: 193px
        width: 100%
        z-index: -2
        +md
            top: 38px
            left: 147px
        +sm
            display: none
        // img
        //     +sm
        //         width: 100%
    .tunnel_big
        top: -73px
        left: 600px
        +md
            width: 144px
            height: 168px
            top: -52px
            left: 452px
    .tunnel_small
        +md
            width: 72px
            height: 85px
    .tunnel_1
        top: 603px
        left: 581px
        +md
            top: 451px
            left: 438px
    .tunnel_2
        transform: scaleX(-1)
        top: 1734px
        left: 269px
        +md
            top: 1300px
            left: 204px
    .box_1
        bottom: 107px
        left: 643px
        +md
            width: 87px
            height: 102px
            bottom: 96px
            left: 413px
    .box_2
        width: 144px
        height: 167px
        bottom: -34px
        left: 997px
        +md
            width: 108px
            height: 125px
            bottom: 116px
            left: 544px
    .tunnel_3
        bottom: -55px
        left: 1081px
        +md
            bottom: 100px
            left: 608px


.glob
    position: relative
    width: 72px
    height: 72px
    border-radius: 50%
    background-color: #09a5b0
    +md
        width: 54px
        height: 54px
    &__text
        font-size: 24px
        font-weight: 500
        text-align: center
        line-height: 0.9
        +vcenter
        +md
            font-size: 18px
        span
            display: block
            font-size: 12px
            font-weight: 300
            line-height: 1.2
            +md
                font-size: 9px
    &:after
        content: ""
        position: absolute
        bottom: 0
        right: 0
        width: 36px
        height: 36px
        background-color: #09a5b0
        border-radius: 3px
        z-index: -1
        +md
            width: 27px
            height: 27px
    &_colored
        color: $main_color
        background-color: #fff
        &:after
            background-color: #fff


.map-item
    position: relative
    &__glob
        position: absolute
        top: -101px
        left: -75px
        +md
            top: -78px
            left: -52px
        +sm
            top: 0
            left: 0
    &__content
        position: relative
        padding-left: 72px
        +md
            padding-left: 58px
        +sm
            padding: 0 10px 0 77px
    &__img
        position: absolute
        left: 0
        top: 6px
        width: 48px
        height: 48px
        +md
            width: 37px
            height: 37px
            left: 3px
            top: 4px
        +sm
            display: none
        img
            display: block
            width: 100%
    &__title
        font-size: 36px
        margin-bottom: 5px
        line-height: 1.15
        font-weight: 600
        +md
            font-size: 27px
            line-height: 1.1
            margin-bottom: 8px
        +sm
            margin-bottom: 9px
    &__text
    &__bg
        display: none
        position: absolute
        left: 24px
        z-index: -3
        +sm
            display: block