.subscribe
    &__content
        position: relative
        display: flex
        justify-content: space-between
    &__social
        padding: 70px 0 0 2px
        text-align: center
        &_telegram
            margin-bottom: 35px
            li
                margin-bottom: 24px
                padding: 21px 102px
                font-size: 18px
                background-color: #fff
                border-radius: 32px
                &:last-child
                    margin-bottom: 0
        &_email
            font-size: 18px
            color: #fff
    &__form
        display: flex
        flex-direction: column
        padding: 61px
        border: 16px solid #56ecf6
        border-radius: 8px
        input
            margin-bottom: 48px
            padding-left: 10px
            font-size: 24px
            line-height: 3
            font-family: $main_font
            font-weight: 600
            border: none
            background: none
            color: #fff
            +placeholder-color(#fff)
            border-bottom: 2px solid #56ecf6
    .box_turquoise
        top: -61px
        right: -315px
    .box_medium
        top: 93px
        left: -370px