.subscribe
    position: relative
    padding-top: 166px
    margin-bottom: 50px
    &_bg
        position: absolute
        top: 680px
        left: -300px
        width: 100%
        height: 110%
        transform: rotate(30.05deg)
        background-color: $main_color
        z-index: -5
    &__content
        position: relative
        display: flex
        justify-content: space-between
    &__social
        padding: 70px 0 0 2px
        text-align: center
        &_telegram
            margin-bottom: 35px
            li
                margin-bottom: 24px
                padding: 21px 102px
                font-size: 18px
                background-color: #fff
                border-radius: 32px
                &:last-child
                    margin-bottom: 0
        &_email
            font-size: 18px
            color: #fff
    &__form
        display: flex
        flex-direction: column
        width: 500px
        padding: 38px 48px 53px
        border: 16px solid #56ecf6
        border-radius: 8px
        .section__title
            margin-bottom: 21px
            span
                line-height: 0.8
        input
            width: 100%
            margin-bottom: 44px
            padding-left: 10px
            font-size: 24px
            line-height: 65px
            font-family: $main_font
            font-weight: 600
            border: none
            background: none
            color: #fff
            +placeholder-color(#fff)
            border-bottom: 2px solid #56ecf6
    .box_turquoise
        top: -61px
        right: -315px
    .box_medium
        top: 93px
        left: -370px