.tokens
    padding-top: 39px
    &__content
        position: relative
        padding: 63px 96px 102px
        background-color: #fff
        border-radius: 16px
        +md
            padding: 32px 32px 50px
        +sm
            padding: 29px 13px 50px
            border-radius: 8px
    &__title
        font-size: 72px
        margin-bottom: 23px
    &__body
        font-size: 18px
        font-weight: 300
        line-height: 2
    &__text
        margin-bottom: 27px
        p
            margin-bottom: 36px
            &:last-child
                margin-bottom: 0
    .button
        padding: 21px 128px
        margin-right: 44px
        &_small
            padding: 21px 113px
    .box_turquoise
        top: -53px
        left: 778px
    .box_blurred
        top: 192px
        right: -242px
    .box_big
        width: 420px
        height: 598px
        top: 500px
        left: -466px

.address
    padding: 0 8px 0 2px
    margin-bottom: 48px
    .title_md
        margin-bottom: 12px