.works
    position: relative
    padding-bottom: 113px
    overflow: hidden
    +md
        padding-bottom: 72px
    &__content
        padding: 78px 100px 85px
        background-color: #fff
        border-radius: 16px
        +md
            padding: 33px 36px 50px
        +sm
            padding: 29px 13px 50px
            border-radius: 8px
        .section__title
            margin-bottom: 26px
            +md
                margin-bottom: 34px
            +sm
                padding-left: 7px
                margin-bottom: 24px
    &__list
        columns: 2
        column-gap: 73px
        font-weight: 300
        +md
            column-gap: 16px
        +sm
            columns: auto
    &__item
        position: relative
        display: inline-block
        margin-bottom: 36px
        font-size: 18px
        line-height: 2
        +md
            font-size: 14px
            line-height: 1.5
        +sm
            line-height: 1.6
            margin-bottom: 21px
        &:nth-child(3n)
            margin-bottom: 0
            +sm
                margin-bottom: 21px
    &__img
        position: absolute
        width: 48px
        top: 10px
        left: 0
        +md
            top: 4px
    &__text
        padding-left: 80px
        +md
            padding-left: 65px
            // .icon
            //     font-size: 30px
            //     fill: $main_bg
            // &:before
            //     content: ""
            //     position: absolute
            //     width: 48px
            //     height: 48px
            //     top: 11px
            //     left: 0
            //     background-repeat: no-repeat
            // &_1
            //     &:before
            //         background-image: url(../img/works/points.png)
            // &_2
            //     &:before
            //         background-image: url(../img/works/clock.png)
            // &_3
            //     &:before
            //         background-image: url(../img/works/cycle.png)
            // &_4
            //     &:before
            //         background-image: url(../img/works/project.png)
            // &_5
            //     &:before
            //         background-image: url(../img/works/algorithm.png)
            // &_6
            //     &:before
            //         background-image: url(../img/works/analysis.png)
    &_bg
        position: absolute
        top: -1703px
        left: 284px
        width: 2500px
        height: 2500px
        transform: rotate(30.05deg)
        background-color: $main_color
        z-index: -5