<section class="footer">
    <div class="container_small">
        <div class="footer__content">
            <div class="footer__social">
                <ul>
                    <li><a href="#">{{ mixins.icon('facebook') }}</a></li>
                    <li><a href="#">{{ mixins.icon('instagram') }}</a></li>
                    <li><a href="#">{{ mixins.icon('vimeo') }}</a></li>
                    <li><a href="#">{{ mixins.icon('vk') }}</a></li>
                </ul>
            </div>
            <div class="footer__nav">
                <ul>
                    <li><a href="">Cookies</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>