<section class="header">
	<div class="container_small">
		<div class="header__content">
			<div class="logo">
				<div class="logo__content">
					<div class="logo__image">
						<img src="./img/header/logo.png" alt="">
					</div>
					<div class="logo__text">
						<h1>
							Neurobot<span class="logo__text_second">.trading</span>
							<p class="logo__slogan">Neural network forecasting</p>
						</h1>
					</div>
				</div>
			</div>
			<div class="menu_main">
				<nav class="menu">
					<ul>
						<li><a href="#">Forecasts</a></li>
						<li><a href="#">Tokens</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Log In</a></li>
					</ul>
				</nav>
			</div>
			<div class="nav_right">
				<!-- <div class="account_button"> -->
						<!-- <a class="account" href="#">Sign Up</a> -->
						<button class="account">Sign Up</button>
					<!-- </div> -->
				<div class="language">
					<a href="#">Eng</a>
					<a class="language_hidden" href="#">Рус</a>
				</div>
			</div>

		</div>
	</div>
</section>
