<div class="popular">
	<div class="popular__container container-small">
		<div class="popular__content">
			<h3 class="popular__title title title_white">
				Popular forecasts
			</h3>
			<p class="popular__subtitle">
				The forecasts are updated every 30 minutes
			</p>
			<div class="popular__nav">
				<!-- <ul> -->
					<div class="item"><a href="#">btc</a></div>
					<div class="item"><a href="#">ltc</a></div>
					<div class="item"><a href="#">eth</a></div>
					<div class="item"><a href="#">xrp</a></div>
					<div class="item"><a href="#">dash</a></div>
					<div class="item"><a href="#">xmr</a></div>
				<!-- </ul> -->
			</div>
			<div class="box box_big">
				<img src="./img/box_blue.png" alt="big blue box">
			</div>
			<div class="box box_small">
				<img src="./img/box_blue.png" alt="big blue box">
			</div>
		</div>
	</div>
	<div class="diagram">
			<div class="diagram__data data">
				<div class="data__text data__text_single">
					XRP/USD
				</div>
				<div class="data__text">
					<span class="data__small">now</span>
					12,550
				</div>
				<div class="data__text">
					<span class="data__small">24 hours</span>
					12,550
					<span class="data__small data__small_green">
						{{mixins.icon('upArrow')}}
						317.00 (5.10%)
					</span>
				</div>
			</div>
		<img src="./img/popular/diagram.png" alt="diagram">
	</div>
	<div class="slanting-bg"></div>
</div>