<section class="popular">
	<div class="container">
		<div class="popular__content">
			<h3 class="popular__title section__title section__title_white">
				Popular forecasts
			</h3>
			<p class="popular__subtitle">
				The forecasts are updated every 30 minutes
			</p>
			<div class="popular__nav">
				<ul>
					<li><a href="#">btc</a></li>
					<li><a href="#">ltc</a></li>
					<li><a href="#">eth</a></li>
					<li><a href="#">xrp</a></li>
					<li><a href="#">dash</a></li>
					<li><a href="#">xmr</a></li>
				</ul>
			</div>
			<div class="popular__data">
				<div class="popular__data_text popular__data_1">XRP/USD</div>
				<div class="popular__data_text popular__data_2">12,550</div>
				<div class="popular__data_text popular__data_3">12,550</div>
			</div>

		</div>
	</div>
</section>