<section class="popular">
	<div class="container_small">
		<div class="popular__content">
			<h3 class="popular__title section__title section__title_white">
				Popular forecasts
			</h3>
			<p class="popular__subtitle">
				The forecasts are updated every 30 minutes
			</p>
			<div class="popular__nav">
				<ul>
					<li><a href="#">btc</a></li>
					<li><a href="#">ltc</a></li>
					<li><a href="#">eth</a></li>
					<li><a href="#">xrp</a></li>
					<li><a href="#">dash</a></li>
					<li><a href="#">xmr</a></li>
				</ul>
			</div>
			<div class="box box_big">
				<img src="./img/box_blue.png" alt="big blue box">
			</div>
			<div class="box box_small">
				<img src="./img/box_blue.png" alt="big blue box">
			</div>
		</div>
	</div>
	<div class="diagram">
			<div class="popular__data">
				<div class="popular__data_text popular__data_single">
					XRP/USD
				</div>
				<div class="popular__data_text">
					<span class="popular__data_small">now</span>
					12,550
				</div>
				<div class="popular__data_text">
					<span class="popular__data_small">24 hours</span>
					12,550
					<span class="popular__data_small popular__data_green">
						{{mixins.icon('upArrow')}}
						317.00 (5.10%)
					</span>
				</div>
			</div>
		<img src="./img/popular/diagram.png" alt="diagram">
	</div>

</section>