<section class="questions">
    <div class="container">
        <div class="questions__content">
            <h3 class="section__title">Frequently Asked<span>Questions</span></h3>
            <ul class="questions__list">
                <li class="questions__item">
                    <p class="questions__item_text">Why the graphic predictions for the 24 hours differs from 
                            that of the 48 hour and the weekly?</p>
                    <p class="questions__item_subtext">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.</p>
                </li>
                <li class="questions__item">
                    <p class="questions__item_text">What is the charts time zone?</p>
                    <p class="questions__item_subtext">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.</p>
                </li>
                <li class="questions__item">
                    <p class="questions__item_text">How accurate are the forecasts?</p>
                    <p class="questions__item_subtext">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.</p>
                </li>
                <li class="questions__item">
                    <p class="questions__item_text">Why are the graphics of the forecasts so inconvenient?</p>
                    <p class="questions__item_subtext">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.</p>
                </li>
                <li class="questions__item">
                    <p class="questions__item_text">What is the most accurate forecast?</p>
                    <p class="questions__item_subtext">Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.</p>
                </li>
            </ul>
            
            <div class="box box_turquoise">
                <img src="./img/forecast/box_turquoise.png" alt="turquoise box">
            </div>
        </div>
    </div>
</section>