<div class="subscribe">
    <div class="container-small">
        <div class="subscribe__content">
            <div class="subscribe__social">
                <div class="subscribe__telegram">
                    <ul>
                        <li><a href="">{{ mixins.icon('telegram') }}Telegram bot</a></li>
                        <li><a href="">{{ mixins.icon('telegram') }}Telegram group</a></li>
                        <li><a href="">{{ mixins.icon('telegram') }}Telegram channel</a></li>
                    </ul>
                </div>
                <div class="subscribe__email">
                    <a href="mailto:support@neurobot.trading">support@neurobot.trading</a>
                </div>
            </div>
            <form class="subscribe__form" action="">
                <h3 class="subscribe__title title title_white">Subscribe<span>to our news</span></h3>
                <input id="email" type="email" placeholder="e-mail">
                <button class="button button_small">Subscribe</button>
            </form>
            <div class="box box_medium">
                    <img src="./img/box_blue.png" alt="big blue box">
            </div>
            <div class="box box_turquoise">
                    <img src="./img/forecast/box_turquoise.png" alt="turquoise box">
            </div>
        </div>
    </div>
    
</div>