.copy-box
    display: flex
    align-items: center
    padding: 8px
    border-radius: 8px
    background-color: #56ecf6
    input
        width: 91%
        line-height: 80px
        padding-left: 34px
        font-size: 24px
        font-family: $main_font
        font-weight: bold
        margin-right: 32px
        +placeholder-color($main_color)
        border: none
        background-color: #fff
    button
        background: none
    .icon
        fill: #fff
        font-size: 28px