.icon-copy {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-telegram {
  width: 1.15em;
  height: 1em;
  fill: currentColor;
}
.icon-upArrow {
  width: 1.6em;
  height: 1em;
  fill: currentColor;
}
.icon-vimeo {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
