.icon-algorithm {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-cycle {
  width: 1.03em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-points {
  width: 1.39em;
  height: 1em;
  fill: currentColor;
}
.icon-project {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-upArrow {
  width: 1.6em;
  height: 1em;
  fill: currentColor;
}
